/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  left: -5px;
  background: #fff;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0); }

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../img/bxslider/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: 0.85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(../img/bxslider/controls.png) no-repeat 0 -32px; }

.bx-wrapper .bx-next {
  right: 10px;
  background: url(../img/bxslider/controls.png) no-repeat -43px -32px; }

.bx-wrapper .bx-prev:hover {
  background-position: 0 0; }

.bx-wrapper .bx-next:hover {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../img/bxslider/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../img/bxslider/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: 0.85em;
  padding: 10px; }

/**
 * Font face declaration
 */
@font-face {
  font-family: "DIN";
  src: url('../fonts/DIN-Regular.eot');
  src: url('../fonts/DIN-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/DIN-Regular.woff') format('woff'), url('../fonts/DIN-Regular.ttf#DIN-Regular') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "DIN";
  src: url('../fonts/DIN-Bold.eot');
  src: url('../fonts/DIN-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/DIN-Bold.woff') format('woff'), url('../fonts/DIN-Bold.ttf#DIN-Bold') format('truetype');
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "DINCondensed";
  src: url('../fonts/DINCond-Regular.eot');
  src: url('../fonts/DINCond-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/DINCond-Regular.woff') format('woff'), url('../fonts/DINCond-Regular.ttf#DINCond-Regular') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "DINCondensed";
  src: url('../fonts/DINCond-Bold.eot');
  src: url('../fonts/DINCond-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/DINCond-Bold.woff') format('woff'), url('../fonts/DINCond-Bold.ttf#DINCond-Bold') format('truetype');
  font-weight: bold;
  font-style: normal; }

meta.foundation-version {
  font-family: "/5.5.0/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em; }

meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:40.063em) and (max-width:64em)/";
  width: 40.063em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em; }

meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:64.063em) and (max-width:90em)/";
  width: 64.063em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em; }

meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:90.063em) and (max-width:120em)/";
  width: 90.063em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

html, body {
  height: 100%; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  font-size: 14px; }

body {
  background: #ffffff;
  color: #666666;
  padding: 0;
  margin: 0;
  font-family: "DIN", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 150%;
  position: relative;
  cursor: auto; }

a:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img, #map_canvas embed, #map_canvas object, .map_canvas img, .map_canvas embed, .map_canvas object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.hide {
  display: none !important;
  visibility: hidden; }

.invisible {
  visibility: hidden; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

@media only screen and (max-width: 40em) {
  .small-only-text-left {
    text-align: left !important; }
  .small-only-text-right {
    text-align: right !important; }
  .small-only-text-center {
    text-align: center !important; }
  .small-only-text-justify {
    text-align: justify !important; } }

@media only screen {
  .small-text-left {
    text-align: left !important; }
  .small-text-right {
    text-align: right !important; }
  .small-text-center {
    text-align: center !important; }
  .small-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width:40.063em) and (max-width:64em) {
  .medium-only-text-left {
    text-align: left !important; }
  .medium-only-text-right {
    text-align: right !important; }
  .medium-only-text-center {
    text-align: center !important; }
  .medium-only-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width:40.063em) {
  .medium-text-left {
    text-align: left !important; }
  .medium-text-right {
    text-align: right !important; }
  .medium-text-center {
    text-align: center !important; }
  .medium-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width:64.063em) and (max-width:90em) {
  .large-only-text-left {
    text-align: left !important; }
  .large-only-text-right {
    text-align: right !important; }
  .large-only-text-center {
    text-align: center !important; }
  .large-only-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width:64.063em) {
  .large-text-left {
    text-align: left !important; }
  .large-text-right {
    text-align: right !important; }
  .large-text-center {
    text-align: center !important; }
  .large-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width:90.063em) and (max-width:120em) {
  .xlarge-only-text-left {
    text-align: left !important; }
  .xlarge-only-text-right {
    text-align: right !important; }
  .xlarge-only-text-center {
    text-align: center !important; }
  .xlarge-only-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width:90.063em) {
  .xlarge-text-left {
    text-align: left !important; }
  .xlarge-text-right {
    text-align: right !important; }
  .xlarge-text-center {
    text-align: center !important; }
  .xlarge-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width:120.063em) and (max-width:99999999em) {
  .xxlarge-only-text-left {
    text-align: left !important; }
  .xxlarge-only-text-right {
    text-align: right !important; }
  .xxlarge-only-text-center {
    text-align: center !important; }
  .xxlarge-only-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width:120.063em) {
  .xxlarge-text-left {
    text-align: left !important; }
  .xxlarge-text-right {
    text-align: right !important; }
  .xxlarge-text-center {
    text-align: center !important; }
  .xxlarge-text-justify {
    text-align: justify !important; } }

/* Typography resets */
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

/* Default Link Styles
    	PLUS project adapted: using border bottom for customisable color
    */
a {
  color: #191919;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  line-height: inherit; }
  a:hover {
    color: #191919;
    text-decoration: none;
    border-bottom: 2px solid; }
  a:active {
    color: #191919;
    text-decoration: none;
    border-bottom: 2px solid #f68236; }
  a img {
    border: 0; }

/* Default paragraph styles */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5em;
  text-rendering: optimizeLegibility; }
  p.lead {
    font-size: 1.25rem;
    line-height: 1.6; }
  p aside {
    font-size: 1rem;
    line-height: 1.35;
    font-style: italic; }

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: "DINCondensed", Helvetica, Roboto, Arial, sans;
  font-weight: bold;
  font-style: normal;
  color: #191919;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5em;
  line-height: 1.4;
  text-transform: uppercase; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 60%;
    color: #6a6a6a;
    line-height: 0; }

h1 {
  font-size: 3.5714285714rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 1.7857142857rem; }

h4 {
  font-size: 1.2142857143rem; }

h5 {
  font-size: 1.2857142857rem; }

h6 {
  font-size: 1rem; }

.subheader {
  line-height: 1.4;
  color: #6a6a6a;
  font-weight: normal;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem; }

hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.4285714286rem 0 1.3571428571rem;
  height: 0; }

/* Helpful Typography Defaults */
em, i {
  font-style: italic;
  line-height: inherit; }

strong, b {
  font-weight: bold;
  line-height: inherit; }

small {
  font-size: 60%;
  line-height: inherit; }

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  color: #333333;
  background-color: #d9ebcc;
  border-width: 1px;
  border-style: solid;
  border-color: #c2dfad;
  padding: 0.1428571429rem 0.3571428571rem 0.0714285714rem; }

/* Lists */
ul, ol, dl {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5em;
  list-style-position: outside;
  font-family: inherit; }

ul {
  margin-left: 1.1rem; }
  ul.no-bullet {
    margin-left: 0; }
    ul.no-bullet li ul, ul.no-bullet li ol {
      margin-left: 1.4285714286rem;
      margin-bottom: 0;
      list-style: none; }

/* Unordered Lists */
ul li ul, ul li ol {
  margin-left: 1.4285714286rem;
  margin-bottom: 0; }
ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit; }
ul.square {
  list-style-type: square;
  margin-left: 1.1rem; }
ul.circle {
  list-style-type: circle;
  margin-left: 1.1rem; }
ul.disc {
  list-style-type: disc;
  margin-left: 1.1rem; }
ul.no-bullet {
  list-style: none; }

/* Ordered Lists */
ol {
  margin-left: 1.4rem; }
  ol li ul, ol li ol {
    margin-left: 1.4285714286rem;
    margin-bottom: 0; }

/* Definition Lists */
dl dt {
  margin-bottom: 0.3rem;
  font-weight: bold; }
dl dd {
  margin-bottom: 0.8571428571rem; }

/* Abbreviations */
abbr, acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #666666;
  cursor: help; }

abbr {
  text-transform: none; }
  abbr[title] {
    border-bottom: 1px dotted #dddddd; }

/* Blockquotes */
blockquote {
  margin: 0 0 1.5em;
  padding: 0.6428571429rem 1.4285714286rem 0 1.3571428571rem;
  border-left: 1px solid #dddddd; }
  blockquote cite {
    display: block;
    font-size: 0.9285714286rem;
    color: #4e4e4e; }
    blockquote cite:before {
      content: "\2014 \0020"; }
    blockquote cite a, blockquote cite a:visited {
      color: #4e4e4e; }

blockquote, blockquote p {
  line-height: 1.6;
  color: #6a6a6a; }

/* Microformats */
.vcard {
  display: inline-block;
  margin: 0 0 1.4285714286rem 0;
  border: 1px solid #dddddd;
  padding: 0.7142857143rem 0.8571428571rem; }
  .vcard li {
    margin: 0;
    display: block; }
  .vcard .fn {
    font-weight: bold;
    font-size: 1.0714285714rem; }

.vevent .summary {
  font-weight: bold; }
.vevent abbr {
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0 0.0714285714rem; }

@media only screen and (min-width:40.063em) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4; }
  h1 {
    font-size: 4.2857142857rem; }
  h2 {
    font-size: 3.2142857143rem; }
  h3 {
    font-size: 2.1428571429rem; }
  h4 {
    font-size: 1.5714285714rem; }
  h5 {
    font-size: 1.2857142857rem; }
  h6 {
    font-size: 1rem; } }

/*
       * Print styles.
       *
       * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
       * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
      */
.print-only {
  display: none !important; }

@media print {
  @page {
    margin: 0.5cm; }

  * {
    background: transparent !important;
    color: #191919 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; }
  .hide-on-print {
    display: none !important; }
  .print-only {
    display: block !important; }
  .hide-for-print {
    display: none !important; }
  .show-for-print {
    display: inherit !important; } }

.page, body {
  background: #eeeeee;
  height: auto;
  box-sizing: border-box;
  color: #666666;
  cursor: auto;
  font-family: 'DIN', Helvetica, Roboto, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  padding: 0;
  position: relative; }

.page {
  margin-bottom: 2.1428571429rem; }

.cus-row {
  margin: 0 -0.7142857143rem; }
  .cus-row .cus-col {
    float: left;
    padding: 0.7142857143rem; }

.cus-col--1 {
  width: 8.33333%; }

.cus-col--2 {
  width: 16.66667%; }

.cus-col--3 {
  width: 25%; }

.cus-col--4 {
  width: 33.33333%; }

.cus-col--5 {
  width: 41.66667%; }

.cus-col--6 {
  width: 50%; }

.cus-col--7 {
  width: 58.33333%; }

.cus-col--8 {
  width: 66.66667%; }

.cus-col--9 {
  width: 75%; }

.cus-col--10 {
  width: 83.33333%; }

.cus-col--11 {
  width: 91.66667%; }

.cus-col--12 {
  width: 100%; }

p.last {
  margin: 0; }

.clearboth {
  clear: both; }

.highlight {
  font-weight: bold; }

.highlight--plus {
  font-weight: bold;
  color: #f68236; }

.highlight--plus-lighter {
  color: #fcad3b; }

.heading-font {
  font-family: "DINCondensed", Helvetica, Roboto, Arial, sans;
  font-weight: bold;
  font-style: normal;
  color: #191919;
  text-rendering: optimizeLegibility;
  text-transform: uppercase; }

.get-font {
  font-family: 'Georgia';
  font-style: italic;
  font-weight: bold; }

.hidden {
  display: none; }

a {
  color: #fcad3b;
  border-bottom-color: #fcad3b;
  border-width: 1px; }
  a:hover {
    color: #fcad3b;
    border-width: 1px; }

.ib {
  display: inline-block; }
  .ib.vm {
    vertical-align: middle; }
  .ib.vt {
    vertical-align: top; }
  .ib.vb {
    vertical-align: bottom; }

.table {
  display: table;
  width: 100%; }
  .table .table--cell {
    display: table-cell; }

.quote-wrap {
  margin-left: -0.7142857143rem;
  margin-right: -0.7142857143rem; }
  .quote-wrap .quote--item {
    background: #ffffff;
    position: relative;
    border: 0.7142857143rem solid #eeeeee;
    padding-bottom: 7.1428571429rem; }
  .quote-wrap.full-width .quote {
    padding: 1.4285714286rem 1.0714285714rem;
    position: relative; }
  .quote-wrap.full-width .quote--text-wrap {
    padding-top: 2.1428571429rem; }
  .quote-wrap.full-width .quote--icon {
    display: none; }
  .quote-wrap.full-width .quote--author {
    border-top: 0;
    padding: 0;
    position: absolute;
    top: 1.4285714286rem;
    text-align: center;
    display: block;
    width: 100%; }
  .quote-wrap.full-width .quote--text {
    padding: 0;
    margin: 0; }

.quote--item .quote--text-wrap {
  text-align: center; }
.quote--item .quote--text {
  color: #fcad3b;
  font-size: 1.7142857143rem;
  font-style: italic;
  padding: 5rem 1.7857142857rem; }
.quote--item .quote--author {
  border-top: 1px solid #eeeeee;
  padding: 2.8571428571rem 1.7857142857rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left; }
.quote--item .author {
  margin: 0; }
.quote--item .icon--quote {
  width: 3.5714285714rem;
  height: 3.5714285714rem;
  display: block;
  background-color: #f68236;
  background-image: url(https://plusdev.aleph-labs.com/img/icon-quote.svg);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  position: absolute;
  top: -1.7857142857rem;
  right: 1.7857142857rem;
  text-align: center; }

.tab-list {
  list-style-type: none;
  text-align: center; }
  .tab-list li {
    display: inline-block;
    padding: 0 0.7142857143rem;
    border-left: 1px solid #bcbcbc;
    line-height: 1;
    font-size: 1.1428571429rem; }
    .tab-list li:first-child {
      padding-left: 0;
      margin-left: 0;
      border-left: 0; }
    .tab-list li .text {
      color: inherit;
      border-bottom-color: transparent; }
  .tab-list .active .text {
    border-bottom-color: #f68236; }

.info-block {
  background: #ffffff;
  display: table;
  padding: 3.5714285714rem 2.5rem;
  margin-top: 1.4285714286rem; }
  .info-block:first-child {
    margin: 0; }
  .info-block .name {
    margin-bottom: 0;
    margin-top: 1.4285714286rem; }
  .info-block .avatar {
    width: 100%; }
  .info-block .avatar-wrap {
    display: inline-block;
    width: 5.7142857143rem;
    height: 5.7142857143rem;
    border: 1px solid #eeeeee;
    overflow: hidden;
    border-radius: 50%; }

.info-block--left, .info-block--right {
  display: table-cell;
  vertical-align: middle; }

.info-block--left {
  width: 30%;
  text-align: center;
  padding-right: 2.1428571429rem; }

.info-block--right {
  width: 70%; }

.ad {
  padding: 0.7142857143rem;
  color: #ffffff;
  margin-top: 1.4285714286rem; }
  .ad.orange {
    background: #f68236; }
  .ad.pink {
    background: #de0d75; }
  .ad .icon-right-arrow {
    width: 0.8571428571rem;
    height: 0.8571428571rem;
    background: transparent;
    border: 3px solid;
    border-bottom: 0;
    border-right: 0;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
            transform: rotate(135deg);
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.3571428571rem; }

.ad--text {
  font-size: 1.5714285714rem;
  text-transform: uppercase;
  color: inherit;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  display: inline-block;
  margin-bottom: 0;
  line-height: 1; }

.ad--link {
  float: right;
  font-size: 1.5714285714rem;
  color: #ffffff;
  border-color: inherit; }
  .ad--link .heading-font {
    color: #ffffff;
    border-width: 2px;
    border-bottom-color: #ffffff; }

.our-story-block {
  margin-top: 4.2857142857rem;
  text-align: center; }
  .our-story-block .our-story-des {
    padding: 0 2.1428571429rem; }

.plus-merchant-list {
  list-style-type: none;
  background: #ffffff;
  margin: 0;
  margin-left: 0;
  padding: 1.4285714286rem; }

.plus-merchant--item {
  display: inline-block;
  width: 70%;
  margin-left: -0.3571428571rem;
  vertical-align: middle;
  text-align: center; }
  .plus-merchant--item:first-child {
    width: 30%;
    margin-left: 0;
    border-right: 1px solid #eeeeee; }
  .plus-merchant--item:last-child {
    padding-left: 1.4285714286rem; }
  .plus-merchant--item .no {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-size: 2.5rem;
    padding: 0 1.0714285714rem; }
  .plus-merchant--item .des {
    font-size: 1.4285714286rem;
    text-transform: uppercase;
    display: block;
    font-weight: normal;
    color: inherit;
    line-height: 1; }
  .plus-merchant--item .des-wrap {
    text-align: left; }
  .plus-merchant--item .img {
    width: 5.7142857143rem;
    margin-left: 2.1428571429rem; }
  .plus-merchant--item .link-points-img {
    width: 14.2857142857rem; }

.chart {
  position: relative;
  padding: 1.4285714286rem;
  background: #ffffff;
  text-align: center; }
  .chart .two-items .chart--item {
    margin: 0;
    padding-left: 0;
    padding-right: 0; }
  .chart .two-items .right-side, .chart .two-items .left-side {
    text-align: right;
    width: 50%;
    display: inline-block; }
  .chart .two-items .right-side {
    text-align: left;
    margin-left: -5px;
    padding-left: 2.8571428571rem; }

.chart--item {
  text-align: center;
  display: inline-block;
  position: relative;
  padding: 1.4285714286rem; }
  .chart--item .name {
    color: #191919;
    text-transform: uppercase;
    font-size: 1.2857142857rem;
    margin-bottom: 0; }
  .chart--item .info {
    font-style: italic;
    font-weight: bold; }
  .chart--item .img {
    width: 3.9285714286rem; }
  .chart--item .right-arrow {
    display: block;
    width: 7.1428571429rem;
    border-bottom: 2px solid;
    -webkit-transform: translate(-100%, -50%);
        -ms-transform: translate(-100%, -50%);
         -o-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
    position: absolute;
    top: 50%; }
    .chart--item .right-arrow .arrow {
      display: inline-block;
      width: 0;
      height: 0;
      border: 10px solid;
      border-right: 0;
      border-top-color: transparent;
      border-bottom-color: transparent;
      position: absolute;
      top: 50%;
      right: -5px;
      margin-top: -0.6428571429rem; }
    .chart--item .right-arrow.right-side {
      -webkit-transform: translate(100%, -50%);
          -ms-transform: translate(100%, -50%);
           -o-transform: translate(100%, -50%);
              transform: translate(100%, -50%);
      right: 0; }
  .chart--item .dash-line {
    height: 60%;
    border-left: 2px dashed;
    position: absolute;
    -webkit-transform: translate(0, -30%);
        -ms-transform: translate(0, -30%);
         -o-transform: translate(0, -30%);
            transform: translate(0, -30%);
    left: -40%; }
    .chart--item .dash-line.right-side {
      left: auto;
      right: -40%; }
  .chart--item.with-arrow {
    padding: 0;
    margin-left: 7.1428571429rem;
    margin-right: 7.1428571429rem; }

.abs-center-grid {
  margin-top: 1.4285714286rem; }
  .abs-center-grid .item {
    width: 49%;
    vertical-align: middle;
    text-align: center;
    border: 4px solid #fcad3b;
    background: #ffffff;
    padding: 2.1428571429rem; }
  .abs-center-grid .img {
    width: 7.1428571429rem; }
  .abs-center-grid .title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    color: #191919; }
  .abs-center-grid .top-text {
    color: #f68236;
    margin-bottom: 0;
    margin-top: 1.4285714286rem; }
  .abs-center-grid .divider {
    display: inline-block;
    width: 3.5714285714rem;
    height: 2px;
    margin: 0.7142857143rem auto;
    background: #fbcfa0; }
  .abs-center-grid .middle-line {
    width: 2%; }

.table--our-value {
  margin: 0;
  border-bottom: 1px solid #eeeeee; }
  .table--our-value:last-child {
    border-bottom: 0; }
  .table--our-value .item {
    vertical-align: middle;
    text-align: center;
    padding: 2.8571428571rem;
    height: 100%;
    background: #ffffff; }
    .table--our-value .item:nth-child(3n-1), .table--our-value .item:nth-child(3n) {
      border-left: 1px solid #eeeeee; }
    .table--our-value .item:nth-child(n+4) {
      border-top: 1px solid #eeeeee; }
  .table--our-value .content {
    background: #ffffff;
    padding: 2.1428571429rem;
    border: 4px solid #fcad3b;
    min-height: 22.8571428571rem; }
  .table--our-value .title {
    text-transform: uppercase;
    font-size: 1.2857142857rem;
    font-weight: bold;
    margin-top: 0.7142857143rem;
    margin-bottom: 0.3571428571rem;
    color: #191919; }
  .table--our-value .top-text {
    color: #f68236;
    margin-bottom: 0;
    margin-top: 1.4285714286rem; }
  .table--our-value .divider {
    display: inline-block;
    width: 3.5714285714rem;
    height: 2px;
    margin: 0.7142857143rem auto;
    background: #fbcfa0; }

.block--milestone {
  margin-top: 2.8571428571rem; }
  .block--milestone:first-child {
    margin-top: 3.5714285714rem; }

.table--milestone-item .milestone-line {
  position: relative;
  padding: 0 1.0714285714rem;
  min-width: 4.2857142857rem; }
  .table--milestone-item .milestone-line .line {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    border-left: 2px solid;
    height: 100%;
    display: block; }
  .table--milestone-item .milestone-line .circle {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -7px;
    display: block;
    border: 6px solid;
    border-radius: 50%; }
.table--milestone-item .milestone-content {
  position: relative;
  padding-top: 2.8571428571rem;
  padding-bottom: 0.7142857143rem;
  width: 94%;
  color: #191919; }
  .table--milestone-item .milestone-content .content {
    margin: 0;
    background: #ffffff;
    padding: 2.1428571429rem; }
  .table--milestone-item .milestone-content .cus-col {
    padding: 0; }
.table--milestone-item .middle-content .content {
  display: table;
  padding-top: 1.1428571429rem;
  padding-bottom: 1.1428571429rem; }
.table--milestone-item .middle-content .cus-col {
  float: none;
  display: table-cell;
  vertical-align: middle; }
.table--milestone-item .middle-content .milestone-img-wrap {
  margin-top: 1.1428571429rem; }
.table--milestone-item p {
  margin-bottom: 2.8571428571rem; }
  .table--milestone-item p:last-child {
    margin-bottom: 0; }
.table--milestone-item .triangle {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  border: 0.3571428571rem solid #ffffff;
  border-bottom-color: transparent;
  border-right-color: transparent; }
.table--milestone-item .milestone-imgs {
  text-align: right; }
.table--milestone-item .milestone-img-wrap {
  margin-top: 2.8571428571rem; }
  .table--milestone-item .milestone-img-wrap:first-child {
    margin-top: 0; }
.table--milestone-item .milestone-img {
  max-width: 10.7142857143rem; }
.table--milestone-item .large-size {
  max-width: 100%; }
.table--milestone-item .small-size {
  max-width: 5.3571428571rem; }

.table--facts-figures {
  margin-top: 1.4285714286rem; }
  .table--facts-figures .table--cell {
    background: #ffffff;
    padding: 3.5714285714rem;
    text-align: center; }
    .table--facts-figures .table--cell:nth-child(2n+1) {
      border-right: 0.7142857143rem solid #eeeeee; }
    .table--facts-figures .table--cell:nth-child(2n+2) {
      border-left: 0.7142857143rem solid #eeeeee; }
  .table--facts-figures .subtext {
    font-weight: normal;
    line-height: 1;
    margin: 0.7142857143rem 0 0 0; }
  .table--facts-figures .top-subtext {
    margin: 0;
    margin-left: 0.7142857143rem;
    color: inherit; }
  .table--facts-figures .cup-icon {
    width: 3.2142857143rem;
    margin-top: 2px; }
  .table--facts-figures .human-icon-wrap {
    margin-bottom: 1.4285714286rem; }
  .table--facts-figures .human-icon {
    margin-left: 0.7142857143rem;
    width: 1.1428571429rem; }
    .table--facts-figures .human-icon:first-child {
      margin-left: 0; }
  .table--facts-figures .delivery-icon {
    width: 3.2142857143rem; }

.merchant-retail-box {
  margin-top: 1.4285714286rem;
  padding: 2.5rem;
  background: #ffffff;
  text-align: center; }
  .merchant-retail-box .text {
    font-weight: normal;
    margin: 0 0.7142857143rem;
    line-height: 1.2; }
  .merchant-retail-box .maping-icon {
    width: 5rem; }

.shadow {
  text-shadow: 2px 2px 0 #f68236;
  -webkit-filter: dropshadow(color=#f68236, offx=2, offy=2);
          filter: dropshadow(color=#f68236, offx=2, offy=2); }

.rate-text, .member-text {
  color: #191919;
  font-size: 2.8571428571rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1; }

.member-text {
  display: block; }

.rate-text {
  font-size: 4.2857142857rem; }

.icon-info {
  width: 16px;
  height: 16px;
  background-image: url(https://plusdev.aleph-labs.com/img/icon-info.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  display: inline-block;
  vertical-align: baseline; }

header {
  height: 25rem;
  background: #fcad3b;
  padding: 6.4285714286rem 0 0;
  color: #ffffff;
  text-align: center; }
  header h2 {
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    color: #ffffff; }
  header p {
    font-family: "Georgia";
    font-style: italic;
    font-size: 1.2857142857rem;
    margin: 0 2.1428571429rem 2.1428571429rem;
    line-height: 1.4;
    color: #ffffff; }

.line-divider {
  width: 7.1428571429rem;
  height: 0.1428571429rem;
  margin: 1.4285714286rem 0 1.0714285714rem;
  background: #ffffff;
  display: inline-block;
  vertical-align: top; }

.page-content {
  margin-top: 4.2857142857rem; }

.paage--contact-us {
  width: 90%;
  margin: 2rem auto; }
  .paage--contact-us .header {
    padding: 0;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(https://plusdev.aleph-labs.com/img/contact-us-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 22.8571428571rem; }
    .paage--contact-us .header .right-col {
      padding-top: 2.1428571429rem;
      padding-bottom: 2.1428571429rem; }
    .paage--contact-us .header p {
      margin: 0;
      color: #ffffff; }
    .paage--contact-us .header h4 {
      margin: 0; }
    .paage--contact-us .header .cus-row {
      width: 100%;
      display: table;
      margin: 0;
      height: 22.8571428571rem; }
    .paage--contact-us .header .cus-col {
      display: table-cell;
      vertical-align: middle;
      float: none; }
    .paage--contact-us .header .circle {
      width: 50%;
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
    .paage--contact-us .header .header-list {
      width: 50%;
      display: inline-block;
      vertical-align: middle;
      margin-left: -4px; }
  .paage--contact-us .header-list {
    list-style-type: none;
    text-align: left;
    margin: 0;
    margin-bottom: 0; }
    .paage--contact-us .header-list li {
      margin-top: 1.4285714286rem; }
      .paage--contact-us .header-list li:first-child {
        margin-top: 0; }
    .paage--contact-us .header-list p {
      margin-bottom: 0; }
  .paage--contact-us .top-info {
    background-color: #ffffff;
    padding: 1.4285714286rem; }
    .paage--contact-us .top-info .cus-row {
      margin: 0; }
    .paage--contact-us .top-info .left {
      width: 75%; }
    .paage--contact-us .top-info .left-icon {
      width: 3.5714285714rem;
      margin-right: 0.7142857143rem; }
      .paage--contact-us .top-info .left-icon img {
        width: 100%;
        display: block; }
    .paage--contact-us .top-info p {
      margin-bottom: 0; }
    .paage--contact-us .top-info .second-row {
      margin-top: 2.1428571429rem; }
    .paage--contact-us .top-info .phone-below {
      padding-left: 1.0714285714rem; }
  .paage--contact-us .first-row .contact-info {
    /*position: absolute;
			left: 0;
			bottom: 0;
			padding-left: rem-calc(70);
			min-height: rem-calc(45);*/ }
    .paage--contact-us .first-row .contact-info img {
      margin-right: 0.3571428571rem; }
  .paage--contact-us .first-row .cus-row {
    display: block; }
  .paage--contact-us .first-row .cus-col {
    vertical-align: top;
    display: inline-block;
    position: relative;
    float: none;
    min-width: 290px;
    margin-left: -4px; }

form label {
  text-transform: uppercase;
  display: block; }
form textarea, form input, form select {
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #ffffff;
  font-family: "DIN";
  border-style: solid;
  border-width: 2px;
  border-color: #c8c8c8;
  box-shadow: none;
  color: #191919;
  display: block;
  font-size: 1.5714285714rem;
  padding: 0.7142857143rem 1.5714285714rem;
  height: 3.7857142857rem;
  width: 100%;
  box-sizing: border-box;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  outline: none; }
  form textarea:focus, form input:focus, form select:focus {
    border-color: #191919; }

.list-table p {
  margin-bottom: 0; }
.list-table td {
  padding-bottom: 0.7142857143rem;
  vertical-align: top; }
.list-table .tnc-table-td {
  padding-left: 0.7142857143rem; }

.notice-block {
  margin-bottom: 2.1428571429rem; }

.data-table {
  width: 100%; }
  .data-table th {
    background-color: #191919;
    font-size: 1.2857142857rem;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "DINCondensed";
    font-weight: bold;
    padding: 1.1428571429rem 1.4285714286rem;
    line-height: 1;
    text-align: left; }
  .data-table td {
    background-color: #ffffff;
    font-size: 1rem;
    color: #191919;
    font-weight: bold;
    padding: 0.7142857143rem 1.4285714286rem;
    line-height: 1;
    border-left: 1px solid #eeeeee; }
  .data-table tr {
    border-bottom: 1px solid #eeeeee; }
  .data-table p {
    margin-bottom: 0.3571428571rem; }
/*# sourceMappingURL=msic.css.map */